.ChatWindow {
    
   
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.sideBar {
    background-color:  var(--light-blue);
    width: 100px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.mainScreen {
    background-color: var(--cyan);
    flex: 1;
}
.top {
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* .chatroom {
    color: #fafafa;
    display: flex;
    flex-direction: row;
    font-size: small;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
} */
.chatrooms{
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-size: 0.5rem;
}
.chatroom-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.discover {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}
.ChatInvitation {
   width: 200px;
   height: 200px;
   background-color: var(--yellow);
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   color: var(--white);
   font-size: 2.5rem;
   padding-bottom: 10px;
 }
 .account_link {
    width: 100px;
    height: 100px;
 }
.join_group {
    font-size: small; 
    width: 80%;
    background-color: var(--red);
}

.add-chatroom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.add-chatroom button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    width: 20px; /* Adjust width and height according to your image size */
    height: 20px;
}
.add-chatroom input {
    width: 70%;
    padding: 0;
}
.message {
    width: 80%;
    background-color: var(--red);
    border-radius: 25px;
    border: 2px solid green;
    padding: 1px;
    text-align: center;
    text-wrap: wrap;
}
.chatroom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
   align-items: center;
}

.chatrooms h1 {
    text-align: center;
}
.add-chatroom button img {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.add-chatroom button:hover img {
    opacity: 0.8; /* Optional: Add a hover effect */
}

.add-chatroom button:focus {
    outline: none; /* Remove the default focus outline */
}
.chatroom h3 {
    text-align: start;
    width: 80%;
}