

.app {
  width: 100vw;
  height: 100vh;
}
.header {
  width: 100vw;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
}
.header i {
  font-size: 2rem;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  color: #fafafa;
}
.body {
  padding: 3rem;
  color: #fafafa;
  font-size: 2rem;
}